

/*General Style*/
.gsc-control-cse


{
	padding:0px !important;
	border-width:0px !important;
}

form.gsc-search-box,table.gsc-search-box
{
	margin-bottom:0px !important;
}

.gsc-search-box .gsc-input
{
	padding:0px 4px 0px 6px !important;
}

#gsc-iw-id1
{
	height: auto !important;
	padding: 0px !important;
	border-width: 0px !important;
	box-shadow:none !important;
}

#gs_tti50
{
	padding:0px !important;
}

#gsc-i-id1
{
	height:36px !important;
	padding:0px !important;
	background:none !important;
	text-indent:0px !important;
}

.gsib_b
{
	display:none;
}

button.gsc-search-button
{
	display:block;
	width:13px !important;
	height:13px !important;
	border-width:0px !important;
	margin:0px !important;
	padding: 10px 6px 10px 13px !important;
	outline:none;
	cursor:pointer;
	box-shadow:none !important;
	box-sizing: content-box !important;
}
.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
 border-color:#FFFFFF;
 background-color: transparent !important;
}

.gsc-branding
{
	display:none !important;
}

.gsc-control-cse,#gsc-iw-id1
{
	background-color:transparent !important;
}


/* Changing placeholder color of search box */
#gsc-i-id1::-webkit-input-placeholder
{ 
	/* Chrome */
	color: #FFF;
}

#gsc-i-id1:-ms-input-placeholder
{ 
	/* IE 10+ */
	color: #FFF;
}

#gsc-i-id1::-moz-placeholder
{ 
	/* Firefox 19+ */
	color: #FFF;
	opacity: 1;
}

#gsc-i-id1:-moz-placeholder
{ 
	/* Firefox 4 - 18 */
	color: #FFF;
	opacity: 1;
}



/* Different Style Search boxes */

/* Blue Box */
#blue-searchbox {
    max-width: 460px;
    height: 50px;
    margin: 0 auto;
    background-color: 
    #1821b5;
    border-radius: 3px;
    padding: 10px 12px;
}
#blue-searchboxbutton .gsc-search-button
{
	border-left: 1px solid #0173af !important;
	background-color:transparent !important;
}

#blue-searchbox #gsc-i-id1
{
	color:#FFF;
}


/* Green Box */
#green-searchbox {
	max-width: 1250px;
	height: 50px;
	margin: 0 auto;
	background-color: #038860;
	padding: 8px 12px;
	border: 2px solid#FFF;
	box-shadow: 0px 0px 0px 2px #038860;
	border-radius: 50px;
}
#green-searchbox #gsc-i-id1
{
	color:#FFF;
}
#green-searchbox button.gsc-search-button
{
	padding:10px !important;
	background-color:transparent !important;
}


/* Black Flat */
#gray-searchbox
{
	max-width:460px;
	height: 50px;
	margin:0 auto;
	background-color: #606060;
	padding: 8px 12px;
	border: 2px solid #000;
}

#gray-searchbox #gsc-i-id1
{
	color:#fff;
}

#gray-searchbox button.gsc-search-button
{
	padding:10px !important;
	background-color: #000 !important;
	border-radius: 3px !important;
}


/* Red Box */
#red-searchbox
{
	max-width:460px;
	height: 50px;
	margin:0 auto;
	border-radius: 50px;
	overflow: hidden;
	box-sizing: border-box;
	border: 2px solid #af111c;
}

#red-searchbox .gsc-search-box .gsc-input
{
	border-radius: 40px 0px 0px 40px;
	padding: 2px 12px !important;
}

#red-searchbox #gsc-i-id1
{
	color:#000;
}

#red-searchbox button.gsc-search-button
{
	padding: 18px !important;
	background-color: #af111c !important;
}


/* Purple Box */
#purple-searchbox
{
	max-width: 460px;
	height: 50px;
	margin: 0 auto;
	background-color: #9b0bf6;
	border-radius: 3px;
	overflow: hidden;
}

#purple-searchbox .gsc-search-box .gsc-input
{
	padding:0px 13px !important;
}

#purple-searchbox #gsc-i-id1
{
	color:#FFF;
}

#purple-searchbox button.gsc-search-button
{
	padding:18px !important;
	background-color: #7608bc !important;
}
